# Data files
data/*.json

# Output files
output/*
logs/*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
yelp-data-extractor
yelp-data-extractor-launcher
*.egg-info/
/docs/yelp_data_extractor.docx

# Editor files
.idea/
